* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$title-font: 'Poppins', sans-serif;
$text-font: 'Source Sans Pro', sans-serif;
$text-color: white;
$background-color: black;
$primary-color: yellow;
$secondary-color: rgb(255, 125, 216);

body, html {
    background-color: $background-color;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@mixin justify-align($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-with-direction($direction, $justify, $align) {
    @include justify-align($justify, $align);
    flex-direction: $direction;
}

.header {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 45vw;
}

.nav {
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    width: 40vw;

    &__list {
        @include justify-align(space-between, center);
        min-width: 267px;
        width: 267px;
        list-style: none;
        overflow: hidden;
    }

    &__list a {
        display: block;
    }

    &__link {
        color: $text-color;
        font-family: $text-font;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
    }

    &__link:hover {
        background: -webkit-linear-gradient(10deg, $primary-color, $secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.menu__toggle {
    display: none;
}

.wrapper {
    @include flex-with-direction(row, flex-end, center);
    width: 100vw;
    height: 100vh;
}

.text__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
}

.title {
    color: $text-color;
    font-family: $title-font;
    font-weight: 500;
    font-size: 7.5vw;
}

.paragraph {
    font-family: $text-font;
    font-size: 18px;
    color: $text-color;
    max-width: 416px;
    line-height: 1.5;
    margin-top: 3vh;
    margin-bottom: 4vh;
}

.img__container {
    width: 50vw;
    @include justify-align(center, center);

    img {
        width: 75%;
        max-width: 585px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 84vw;
        align-items: flex-end;
    }
    .text__container {
        width: 52vw;
        margin-bottom: 30px;
    } 
    .title {
        font-size: 8.5vw;
        text-align: center;
    }
    .paragraph {
        font-size: 1em;
        margin-bottom: 3vh;
        text-align: center;
    }
    .wrapper {
        flex-direction: column;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .img__container {
        margin-bottom: 30px;
    }
    .img__container img {
        width: 100%;
        max-width: 585px;
    }
}

@media screen and (max-width: 500px) {
    .header {
        display: none;
    }
    .wrapper {
        height: 90vh;
    }
    .text__container {
        width: 62vw;
        margin-bottom: 16px;
    }
    .paragraph {
        font-size: .8em;
    }
    .img__container {
        width: 62vw;
        margin-bottom: 0px;
    }
    .menu__toggle {
        display: block;
        position: relative;
        top: 50px;
        left: 80%;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    .menu__toggle a {
        text-decoration: none;
        font-family: $title-font;
        color: $background-color;
        transition: color 0.3s ease;
    }
    .menu__toggle a:hover {
        color: $secondary-color;
    }
    .menu__toggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -5px;
        left: -4px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }
    .menu__toggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: -webkit-linear-gradient(5deg, $primary-color, $secondary-color);
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
    }
    .menu__toggle span:first-child {
        transform-origin: 0% 0%;
    }
    .menu__toggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    .menu__toggle input:checked ~ span {
        transform: rotate(45deg) translate(-2px, -1px);
        background: rgb(255, 125, 216);
        opacity: 1;
    }
    .menu__toggle input:checked ~ span:nth-last-child(3) {
        transform: rotate(0deg) scale(0.2, 0.2);
        opacity: 0;
    }
    .menu__toggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
    .menu {
        width: 300px;
        margin: -100px 0 0 -200px;
        position: absolute;
        padding: 50px;
        padding-top: 125px;
        background: yellow;
        list-style-type: none;
        -webkit-font-smoothing: antialiased; 
        transform: translate(100%, 0);
        transform-origin: 0% 0%;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    .menu li {
        padding: 10px 0;
        font-size: 22px;
        text-align: right;
        margin-right: 22px;
    }
    .menu__toggle input:checked ~ ul {
        transform: none;
    }
}

@media screen and (max-width: 414px) {
    .img__container img {
        width: 110%;
        max-width: 585px;
    }
}